<!DOCTYPE html>
<html ng-app="chatApp">
<head>
    <title>AngularJS - SignalR Chat</title>

    <link href="Content/bootstrap.css" rel="stylesheet" />


    <script src="Scripts/jquery-1.9.0.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/scrollglue.js"></script>
    <!--<script src="Scripts/bootstrap.js"></script>-->


    <style>
        .messages {
            height: 400px;
            overflow-y: auto;
        }

        .users {
            max-height: 300px;
            overflow-y: auto;
        }

        .logmessages {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>


    <script type="text/javascript">
        (function () {


            var app = angular.module('chatApp', ['luegg.directives']);
            app.value('$', $);

            //when the window unloads - send a logout click event
            window.onbeforeunload = function () {
                $("#btnLogOut").click();
            };


            app.controller("chatCtrl", function ($, $scope) {

                $scope.name = null;
                $scope.text = null;

                //chat messages
                $scope.messages = [];

                //log messages
                $scope.logMessages = [];

                //registered users
                $scope.users = [];

                //set to true if user has been registered
                $scope.isUserRegistered = false;


          
                //start the connection
                $.connection.hub.start().done(function () {
                    chat.server.newClient();
                });

                //get the  hub
                var chat = $.connection.chatHub;


                

              


                //recieve a chat message
                chat.client.chatMessage = function (name, text) {

                    $scope.$apply(function () {

                        $scope.messages.push({ name: name, text: text });

                    });

                };

                //recieve message - to get details of all users
                chat.client.allUsers = function (users) {

                    $scope.$apply(function () {
                        if (users !== null || users.length >= 0) {
                            $scope.users = users;
                        }
                        else {
                            $scope.users = [];

                        };


                    });
                };

                //recieve - new user is registered.
                chat.client.newUser = function (user) {
                    $scope.$apply(function () {
                        $scope.users.push(user);
                    });
                };

                //recieve - log message
                chat.client.logMessage = function (msg) {

                    $scope.$apply(function () {

                        //before adding new message, see if its a duplicate
                        var newMessage = true;
                        angular.forEach($scope.logMessages, function (item) {
                            //if message found, increment the count
                            if (item.msg === msg) {
                                item.count++;
                                newMessage = false;
                            };
                        });

                        //if new message add it
                        if (newMessage) {
                            $scope.logMessages.push({ msg: msg, count: 1 });
                        }


                    });

                };


                //recieve message - user has been registered.
                chat.client.userRegistered = function (user) {

                    $scope.$apply(function () {
                        $scope.isUserRegistered = true;
                    });
                };



                //send message to server.
                $scope.sendMessage = function () {
                    chat.server.send($scope.name, $scope.text);
                    $scope.text = "";
                };

                //send message -register a new user
                $scope.registerUser = function () {
                    chat.server.registerUser($scope.name);
                }

                //send message - logout
                $scope.logOut = function () {
                    chat.server.logOut($scope.name);

                    $scope.isUserRegistered = false;
                    //refresh users list from the server
                    chat.server.newClient();
                }

            });//controller



            //register a directive

            app.directive('validUserName', function () {
                return {
                    restrict: 'A',
                    require: 'ngModel',
                    link: function (scope, elem, attr, ngModel) {
                        function isValid(value) {

                            var isValid = true;

                            value = value || "";
                            value = value.trim();

                            var re = /^[a-z0-9]+$/i;
                            isValid = re.test(value);
                            return isValid;
                        }
                        //value changed
                        ngModel.$parsers.unshift(function (value) {
                            ngModel.$setValidity('validUserName', isValid(value));
                            return value;
                        });
                        //initial load
                        ngModel.$formatters.unshift(function (value) {
                            ngModel.$setValidity('validUserName', isValid(value));
                            return value;
                        });
                    }
                }
            });






        }());





    </script>

</head>
<body style="padding-top:10px;">



    <div class="container" ng-controller="chatCtrl">




        <form name="myForm" novalidate>

          

            <div class="row">

                <div class="col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Users
                            <span class="badge pull-right">
                                {{users.length}}
                            </span>
                        </div>

                        <div class="panel-body" ng-hide="isUserRegistered">
                            <div class="form-group">
                                <input name="userName" class="form-control" type="text" ng-model="name" maxlength="10" required valid-user-name />
                            </div>
                            <input type="button" class="btn btn-primary" ng-click="registerUser()" ng-disabled="myForm.userName.$invalid" value="Register User" />
                        </div>

                        <div class="panel-body" ng-show="isUserRegistered">
                            <strong>Logged in as {{name}}</strong>
                            <span class="pull-right">
                                <input id="btnLogOut" name="btnLogOut" type="button" class="btn btn-primary" value="log out" ng-click="logOut()" />
                            </span>
                            
                        </div>

                        <ul class="list-group users" scroll-glue>

                            <li class="list-group-item" ng-repeat="user in users">
                                {{user.name}}
                            </li>

                        </ul>
                    </div>




                </div>




                <div class="col-md-8">

                    <div class="panel panel-primary messages" scroll-glue>
                        <div class="panel-heading">
                            Messages
                            <span class="badge pull-right">
                                {{messages.length}}
                            </span>


                        </div>
                        <div class="panel-body">

                            <ul id="discussion">
                                <li ng-repeat="message in messages">
                                    <strong>{{message.name}}</strong> &nbsp;&nbsp; {{message.text}}
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" name="chatMessage" ng-model="text" placeholder="Enter your message here" maxlength="100" required />
                            </div>

                        </div>
                        <div class="col-md-2">

                            <input class="btn btn-primary pull-right" type="submit" value="Send" ng-click="sendMessage()" ng-disabled="isUserRegistered===false || myForm.chatMessage.$invalid"  />
                        </div>
                    </div>



                </div>



            </div>




            <div class="row">


                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Log messages


                        </div>

                        <!--log messages-->
                        <div class="logmessages" scroll-glue>
                            <div class="list-group-item" ng-repeat="logMsg in logMessages">
                                {{logMsg.msg}}
                                <span class="badge">
                                    {{logMsg.count}}
                                </span>
                            </div>

                        </div>


                    </div>
                </div>


            </div>

        </form>


        <hr />

        <footer>
           <small>
               AngularJS Chat using SignalR - by Talal Tayyab
           </small>
          
        </footer>

    </div>


   


</body>
</html>